.App {
  text-align: center;
  padding: 1em;
  height: 100%;
  background:linear-gradient(#222, #483d8b);
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  height: 150px;
  padding: 20px;
}

.imgContainer {
  width: 100%;
}

.appStoreImg {
  width: 100%;
  max-width: 1000px;
}

.centerBody {
  margin: 0 auto;
  height: 100%;
}

@keyframes App-logo-spin {
  from { transform: rotate(360deg); }
  to { transform: rotate(0deg); }
}
