.App {
  text-align: center;
  font-family: 'Exo 2', sans-serif;
  background-color: #222;
  background: linear-gradient(#222, #483d8b);
  color: white;
  padding: 1em;
  height: 100%;
}

h1, h2, h3, h4, a {
  font-family: 'Audiowide', cursive !important;
  color: #fff;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  height: 150px;
  padding: 20px;
}

.imgContainer {
  width: 100%;
}

.appStoreImg {
  width: 100%;
}

@keyframes App-logo-spin {
  from { transform: rotate(360deg); }
  to { transform: rotate(0deg); }
}

.centerBody {
  margin: 0 auto;
  height: 100%;
}

/*Inputs*/
input[type=range] {
  width: 75%;
}

.drake-input {
  display: block;
  margin: auto;
}

.inputs-wrap {
  width: 100%;
  background-color: #d7d7d7;
  border-radius: 5px;
  padding: 15px;
  color: #323232;
  margin: auto;
}

.input-value {
  color: red;
}

.result {
  font-size: 2em;
  background-color: #d7d7d7;
  border-radius: 5px;
  color: #323232;
  margin: 20px 0 20px 0;
  padding: 5px;
}

.result-value {
  color: green;
}

.hide {
  overflow: hidden;
  max-height: 0;
  padding-top: 0;
  padding-bottom: 0;
  margin-top: 0;
  margin-bottom: 0;
  -moz-transition-duration: 0.3s;
  -webkit-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -moz-transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
  -webkit-transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
  -o-transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
  transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
}
.show {
  -moz-transition-duration: 0.3s;
  -webkit-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -moz-transition-timing-function: ease-in;
  -webkit-transition-timing-function: ease-in;
  -o-transition-timing-function: ease-in;
  transition-timing-function: ease-in;
  max-height: 1000px;
  overflow: hidden;
}

/* media queries */
@media only screen and (max-width: 767px) {
  .centerBody {
    width: 100%;
  }
}
